{% extends "base.html" %}

{% block title %}
    {{ page.title }}
{% endblock title %}

{% block content %}
<div class="post">
    <h2>{{ page.title }}</h2>
    <p class="info">
        Published: {{ page.date }}
        {% if page.updated %}
            <br>Updated: {{ page.updated }}
        {% endif %}
        <br>Tags:
        {% for tag in page.taxonomies.tags %}
        <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
    {{ page.content | safe }}
</div>
{% endblock content %}
